body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg-image {
    /* The image used */
    background-image: url("");
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Position text in the middle of the page/image */

.bg-text {
    /* Fallback color */
    background-color: grey;
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    color: rgb(8, 8, 71);
    border-radius: 10px;
}

.loginmob {
    width: 260px;
    height: 30px;
    border-radius: 10px;
    background-color: white(9, 9, 243, 0.815);
    color: rgb(8, 8, 71);
    border: none;
}

input {
    width: 200px;
    height: 30px;
    border-radius: 10px;
}